<html>
<head>
    <title>Shoe Store</title>
</head>
<body>
    <div id ="wrapper">
        <h1>Available Stores</h1>
            {% if stores is not empty %}
                {% for store in stores %}
                    <h4><a href="/store/{{ store.getId }}">{{ store.getName }}</a></h4>
                {% endfor %}
            {% endif %}
            <br />

            <form action'/stores' method='post'>
                <label for='storename'>Store Name</label>
                <input id='storename' name='storename' type='text'>

                <button type='submit' class="btn btn-default">Add Store</button>
            </form>

                <button type="button" class="btn btn-default"><a href='/brands'>See All Brands</a></button>
                <br>
                <button type="button" class="btn btn-home"><a href='/'>Home</a></button>
    </div>
</body>
</html>
