
h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 200%;
}

h3 {

    text-decoration-color: black;
}

.col-md-6 {
    text-align: center;
}

a {
     black;
    text-decoration: underline;
}

.jumbotron {
    background-color: lightblue;
}

.container {
    margin: auto;
}


body{
    background: url('/img/shoes.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
